<h2>Calculate Two Numbers</h2>
<form method="post" action="/calculator">
  <input autofocus type="number" name="left" value="0" step ="any" required>
  +
  <input type="number" name="right" value="0" step="any" required>
  <br/>
  <br/>
  <button name ="calculateChoice" value ="add">+</button>
  <button name ="calculateChoice" value = "substract">-</button>
  <button name ="calculateChoice" value = "multiply">*</button>
  <button name ="calculateChoice" value ="divide">/</button>
  <button name ="calculateChoice" value ="modulo">%</button>
  <button name ="calculateChoice" value ="exponent">^</button>
</form> 
